.list__box__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  div{
    position: relative;
    margin:0px 5px;
  }
  .department{
    width: 20%;
  }
  .name{
    width: 20%;
  }
  .drinkName{
    width: 25%;
  }
  .detail{
    width: 25%;
  }
  .price{
    width: 10%;
  }
}/* end list box item */