.list__box__item__editform{
  display: none;
  align-items: center;
  width: 100%;
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  .list__box__item__editform__text{
    width: 50%;
  }
  .list__box__item__editform__submit{
    position: absolute;
    right: 5px;
  }

  &.is-show{
    display: flex;
    z-index: 10;
  }
}/* end list box item editform */